<footer class="footer">
  <div class="footer__container">
    <a href="index.html" class="header__logo">
      © Andrii Panasiuk
    </a>
    <nav class="footer__nav">
      <a href="projects.html" class="footer__link">Мої проєкти</a>
      <a href="blog.html" class="footer__link">Блог</a>
      <a href="contacts.html" class="footer__link">Контакти</a>
    </nav>
  </div>
  </а>
  <script src="js/functions/lazyImg.js" defer></script>
  <script type="module" src="js/app.js"></script>

  <script>
    window.addEventListener('load', () => {
      setTimeout(() => {
        document.querySelector('.wrapper').classList.add('loaded');
      }, 2500);
    });
  </script>

  <script>
    function parseUaDate(dateStr) {
      const months = {
        "Січ": 0, "Лют": 1, "Бер": 2, "Кві": 3,
        "Тра": 4, "Чер": 5, "Лип": 6, "Сер": 7,
        "Вер": 8, "Жов": 9, "Лис": 10, "Гру": 11
      };

      const [month, day, year] = dateStr.split(" ");
      return new Date(+year, months[month], parseInt(day, 10));
    }

    function renderProjects(projects) {
      projects.sort((a, b) => parseUaDate(b.date) - parseUaDate(a.date));

      const latest = projects.slice(0, 4);

      return latest.map(project => `
    <article class="project">
      <a target="_blank" href="${project.link}" class="project__image">
        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
             data-src="${project.image}" 
             alt="${project.alt}" 
             class="lazy">
      </a>
      <div class="project__content">
        <h3 class="project__title">
          <span class="project__icon">${project.icon}</span>
          <a target="_blank" href="${project.link}">${project.title}</a>
        </h3>
        <div class="project__meta">
          <span class="project__date">${project.date}</span>
          <span class="project__category">• ${project.technologies.join(", ")}</span>
        </div>
        <p class="project__description">
          ${project.description}
        </p>
      </div>
    </article>
  `).join("\n");
    }

    fetch("./data/projects.json")
      .then(res => res.json())
      .then(data => {
        const container = document.querySelector(".projects__list");
        container.innerHTML = renderProjects(data);
      })
      .catch(err => console.error("Помилка завантаження проектів:", err));

  </script>
  </body>

  </html>