<section class="experience">
    <div class="experience__container">
        <h2 class="experience__title">Мій досвід</h2>
        <div class="experience__item">
            <div class="experience__date">2023 - дотепер</div>
            <div class="experience__content">
                <h3 class="experience__position">WordPress Developer - NDA Product Company</h3>
                <p class="experience__description">
                     Розробляю кастомні теми та плагіни для WordPress, підтримую та оновлюю існуючі сайти, оптимізую продуктивність і адаптивність. Працюю з базою даних, верстаю сторінки під вимоги проєкту та впроваджую сучасні практики фронтенд-розробки.
                </p>
            </div>
        </div>
        <div class="experience__item">
            <div class="experience__date">2023 - дотепер</div>
            <div class="experience__content">
                <h3 class="experience__position">Фріланс - Part-time</h3>
                <p class="experience__description">
                    Створюю лендінги та багатосторінкові сайти, виконую рефакторинг коду та оптимізацію продуктивності. Інтегрую проєкти з CMS, займаюся посадкою сайтів на WordPress, налаштовую плагіни та впроваджую адаптивний дизайн під різні пристрої.
                </p>
            </div>
        </div>
        <div class="experience__item">
            <div class="experience__date">2022 - 2023</div>
            <div class="experience__content">
                <h3 class="experience__position">Навчання на курсах IT-step - Frontend Developer</h3>
                <p class="experience__description">
                     Пройшов курс із фронтенд-розробки, що охоплював створення сучасних веб-інтерфейсів. Вивчив HTML5, CSS та препроцесори, основи адаптивного дизайну та роботу з Git. Опанував JavaScript і TypeScript, а також бібліотеку React — компоненти, хуки та маршрутизацію. Закріпив навички на практиці, розробляючи лендінги, багатосторінкові сайти та невеликі SPA-додатки.
                </p>
            </div>
        </div>
    </div>
</section>