<section class="hero hero--bigger">
    <div class="hero__container">
        <h1>Контакти</h1>
        <p>Маєш ідею для проєкту, шукаєш надійного фронтенд-розробника або просто хочеш обговорити технічні рішення? Я
            завжди відкритий до нових знайомств і цікавих викликів!</p>
        <p>Я працюю над створенням швидких, адаптивних і зручних веб-інтерфейсів, приділяючи увагу якості коду,
            продуктивності та доступності. Якщо тобі потрібен спеціаліст, який допоможе реалізувати твій задум — давай
            обговоримо деталі!</p>
        @@include('partials/socials.html')
    </div>
</section>