<section class="hero hero--bigger">
    <div class="hero__container">
        <h1>Блог</h1>
        <p>Світ веброзробки та UX/UI-дизайну стрімко змінюється, і кожна деталь впливає на успіх вашого бізнесу. У моїх
            статтях я розповідаю про швидкість сайтів, доступність, дизайн та інші ключові аспекти, які допомагають
            створювати ефективні, зручні та прибуткові цифрові продукти. Дізнавайтеся, як зробити ваш сайт швидшим,
            зручнішим та конкурентоспроможнішим!</p>
    </div>
</section>