<header class="header">
  <div class="header__container">
    <a href="index.html" class="header__logo">
      <img src="./images/icons/logo.svg" alt="Header logo">
    </a>
    <nav class="header__nav">
      <a href="#" class="header__link">About</a>
      <a href="#" class="header__link">Skills</a>
      <a href="#" class="header__link">Projects</a>
      <a href="#" class="header__link">Contacts</a>
    </nav>
    <div class="header__burger">
      <span></span>
    </div>
  </div>
</header>