@use 'variables' as *;
@use 'mixins' as *;

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include adaptiveValue('padding-top', 120px, 80px);
    padding-bottom: 40px;
    background-color: #13191C;
    position: relative;
    &::after {
        content: '';
        width: 100%;
        position: absolute;
        background-image: url('data:image/svg+xml,<svg width="1728" height="320" viewBox="0 0 1728 320" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 128H48C96 128 192 128 288 144C384 160 480 192 576 181.3C672 171 768 117 864 106.7C960 96 1056 128 1152 138.7C1248 149 1344 139 1440 117.3C1536 96 1632 64 1680 48L1728 32V0H1680C1632 0 1536 0 1440 0C1344 0 1248 0 1152 0C1056 0 960 0 864 0C768 0 672 0 576 0C480 0 384 0 288 0C192 0 96 0 48 0H0V128Z" fill="%2313191C"/></svg>');
        height: 320px;
        left: 0;
        bottom: -300px;
    }

    &__img {
        border-radius: 50%;
        width: 100%;
        max-width: 355px;
        height: 100%;
        max-height: 355px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    &__content {
        max-width: 640px;
    }

    h1 {
        font-size: clamp(20px, 5vw, 40px);
        font-family: 'Press Start 2P';
        margin-bottom: 20px;
    }

    h2 {
        font-size: clamp(16px, 5vw, 24px);
        font-family: 'Press Start 2P';
        margin-bottom: 20px;
    }
    
    p {
        margin-bottom: 20px;
    }
}