@use 'variables' as *;
@use 'mixins' as *;

.projects {
  margin-top: 80px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }

  &__more {
    margin-top: 10px;
    color: #4385d7;
    width: fit-content;
    &:hover {
        background: #2f4a69;
        border-radius: 5px 5px 5px 5px;
    }
  }
}

.project {
  display: flex;
  gap: 20px;
  align-items: flex-start;

  @media (max-width: 768px) {
    flex-direction: column-reverse;
  }

  &__image {
    width: 200px;
    height: 100px;
    overflow: hidden;

    @media (max-width: 768px) {
      width: 100%;
      height: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0.8);
      transition: filter 0.3s;
      border-radius: 8px;
    }

    &:hover img {
      filter: brightness(1);
    }
  }

  &__content {
    flex: 1;

    .project__title {
    }

    .project__icon {
      margin-right: 8px;
    }

    .project__meta {
      padding: 7px 0;
      font-size: 16px;
    }

    .project__description {
    }
  }
}
