@use 'variables' as *;
@use 'mixins' as *;
@use 'partials/header';
@use 'components/hero';
@use 'components/about';
@use 'components/posts';
@use 'partials/footer';


// ==============================================================================================
// **Стилізація форми**
// Цей модуль відповідає за стилі всіх форм, включаючи поля введення, кнопки та валідацію.
// Підключення:
// @use 'partials/form';
// ==============================================================================================

// ==============================================================================================
// **Стилі аккордіону**
// Відповідає за вигляд і анімацію елементів аккордіону, включаючи заголовки та контент.
// Підключення:
// @use 'components/accordion';
// ==============================================================================================

// ==============================================================================================
// **Стилі табів**
// Додає стилізацію для вкладок (tabs), включаючи активний стан і контент.
// Підключення:
// @use 'components/tabs';
// ==============================================================================================

// ==============================================================================================
// **Модальні вікна та поп-апи**
// Налаштування стилів для модальних вікон, поп-апів і тригерів для їх відкриття/закриття.
// Підключення:
// @use 'partials/modal';
// ==============================================================================================

// ==============================================================================================
// **Кастомний селект**
// Базова стилізація кастомного селекту, включаючи розмір, кольори та поведінку.
// Підключення:
// @use 'components/customSelect';
// ==============================================================================================

// ==============================================================================================
// **Анімації**
// Модуль для додавання анімацій за класами, які можуть бути використані для будь-якого елемента.
// Підключення:
// @use 'partials/animation';
// ==============================================================================================

@font-face {
    font-family: 'Press Start 2P';
    src: url('../fonts/PressStart2P-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'myfont';
    src: url('../fonts/myfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// Для стартових налаштувнань теми
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;
    background-color: $bgColor;
    overflow-x: hidden;
    scroll-behavior: smooth;
    line-height: 150%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    min-height: 100vh;

    &--contacts {

        .hero {
            &.hero--bigger {
                padding: 100px 0 30px 0;
            }
        }
    }
}

.no-scroll {
    overflow: hidden;
}

// Обмежуючий контейнер - цей контейнер часто зустрічається в проектах, якщо сайт має певну геометрію.
[class*='__container'] {
    max-width: $maxWidthContainer;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

// Застосування стилів для посилання: колір, час анімації, активний стан.
a {
    color: $linkColor;
    text-decoration: none;
    transition-duration: $transitionDuration;
    // font-family: 'Audiowide';
}

a:hover {
    color: $linkHoverColor;
}

a:active {
    color: $activeColor;
}

// Застосування стилів для кнопкки з класом .button
.button {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $buttonBgColor;
    transition-duration: $transitionDuration;
    color: $buttonFontColor;
    padding: $buttonPaddings;
    border-radius: $buttonBorderRadius;
    cursor: pointer;
    border: 0;
    outline: 0;
}

.button:hover {
    background-color: $buttonHover;
}

.button:active {
    background-color: $buttonActive;
}

// Загальні стилі для списків
ol,
ul {
    padding-left: 20px;

    li:not(:last-child) {
        padding-bottom: 15px;
    }
}

h1 {
    font-size: 26px;
    font-weight: 400;
    color: #a8adb2;
    line-height: 130%;

    span {
        color: #eef5fc;
        @include adaptiveValue('font-size', 28px, 26px);
        font-weight: 700;
    }
}

h2 {

    position: relative;

    &::after {
        content: '';
        width: 100px;
        height: 2px;
        background-color: $fontColor;
        position: absolute;
        left: 0;
        bottom: -5px;
    }
}

// Cтилізація ектів статусу для поточної сторінки
.currentPage {
    text-decoration: underline;
}

// Обнулення стилів автозаповнення форми
input {
    background: #fff !important;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    filter: none;
    -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

:-webkit-autofill::first-line {
    font-size: 16px;
}

p {
    line-height: 140%;
}


.button {
    padding: 15px;
    width: 100%;
    max-width: 300px;
    font-family: 'Press Start 2P';
    font-size: 14px;

    &:hover {
        opacity: .5;
        transform: translateY(-5px);
    }
}

.list {
    margin-top: 15px;
}
